/* className and id weren't working and I couldn't figure out why
so some of these selectors look bad */
/*Also I know these values should not be hardcoded, I just ran out of time to account for responsive design*/

#root > div > div > main > div > div > div > div:nth-child(1) {
  /*this is for "You've heard of sorority girls and meerkats..."*/
  margin-top: 50px;
}

#root
  > div
  > div
  > main
  > div
  > div
  > div
  > div.styles_wordart__UPt3m.styles_slate__1ICOX {
  /*this is for "Have you ever asked yourself, why can't that be me??"*/
  margin-top: 50px;
}

#root > div > div > main > div > div > div > div:nth-child(4) {
  /*this is for "Now it's time to vote on...Coders and Tomcats!"*/
  margin-top: 50px;
  padding-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.voteButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 200px;
  padding-bottom: 200px;
}

.head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
